.ourPage {
  padding: 0 120px;
  height: 730px;
  min-height: 730px;
  width: 100vw;
  position: relative;
  max-height: 100vh;
}

.ourPage .decoration {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ourPage .decoration .blueBg {
  background: #0648ec;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.ourPage .decoration .decoration-bottom {
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
  height: auto;
}

.ourPage .decoration .decoration-bottom .dotted-bg {
  position: absolute;
  bottom: -40px;
  left: 0;
}

.ourPage .decoration .decoration-bottom .sphere {
  position: absolute;
  bottom: 100px;
  left: 60px;
  -webkit-animation: floating 6s linear infinite;
          animation: floating 6s linear infinite;
}

@-webkit-keyframes floating {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes floating {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.ourPage .decoration .decoration-bottom .rectangle {
  position: absolute;
  bottom: 30px;
  left: 500px;
  -webkit-animation: floating 8s linear infinite;
          animation: floating 8s linear infinite;
}

.ourPage .content {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  padding: 0 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ourPage .content .sides {
  width: 50%;
  height: auto;
}

.ourPage .content .left-side h3 {
  font-size: 37px;
  font-weight: 500;
  font-weight: 700;
  color: #f9f9f9;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 150px;
}

.ourPage .content .left-side h3 .link {
  color: #f2f442;
  text-decoration: none;
  position: relative;
}

.ourPage .content .left-side h3 .link:after {
  content: " ";
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #f2f442;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.ourPage .content .left-side h3 .link:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.ourPage .content .left-side p {
  padding: 10px;
  margin-top: 80px;
  line-height: 27px;
  color: #001446;
  font-size: 21px;
  font-weight: 500;
  width: 300px;
  -webkit-box-shadow: inset 50px 0px 0px -1px #dadada;
  box-shadow: inset 50px 0px 0px -1px #dadada;
  -webkit-transition: 0.7s all;
  transition: 0.7s all;
}

.ourPage .content .left-side p:hover {
  padding: 10px;
  margin-top: 80px;
  line-height: 27px;
  color: #f9f9f9;
  font-size: 21px;
  font-weight: 500;
  width: 300px;
  -webkit-box-shadow: inset 310px 0px 0px -1px #0648ec;
  box-shadow: inset 310px 0px 0px -1px #0648ec;
  -webkit-transition: 0.7s all;
  transition: 0.7s all;
}

.ourPage .content .right-side {
  height: 100%;
}

.ourPage .content .right-side .posts-container {
  margin-top: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 20px;
  width: 80%;
  float: right;
}

.ourPage .content .right-side .posts-container .img-container {
  width: 100%;
  height: 100%;
}

.ourPage .content .right-side .posts-container .img-container .motion-container {
  width: 100%;
  height: 100%;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.ourPage .content .right-side .posts-container .img-container .motion-container div {
  width: 230px;
  height: 100%;
  position: relative;
}

.ourPage .content .right-side .posts-container .img-container .motion-container div .image {
  -webkit-box-shadow: 4px 4px 17px 1px rgba(6, 72, 236, 0.25);
  box-shadow: 4px 4px 17px 1px rgba(6, 72, 236, 0.25);
  float: right;
}

.ourPage .content .right-side .posts-container .img-container .motion-container div a {
  top: 0;
  left: 0;
  opacity: 0;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ourPage .content .right-side .posts-container .img-container .motion-container div a .icon-container {
  background-color: #f9f9f9;
  width: 70px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100px;
  font-size: 40px;
  line-height: 60px;
  -webkit-animation: jumping 1s linear infinite;
          animation: jumping 1s linear infinite;
}

@-webkit-keyframes jumping {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes jumping {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.ourPage .content .right-side .posts-container .img-container .motion-container div a:hover {
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  opacity: 1;
}

.ourPage .content .right-side .posts-container .bot {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
}

@media only screen and (max-width: 1300px) {
  .ourPage .content {
    padding: 0 80px !important;
  }
}
/*# sourceMappingURL=OurPage.css.map */